<table id="evm-indicator-value-table">
  <tr>
    <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
    <th colspan="5"><%=l(:indicator_table_header_today)%></th>
    <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
    <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
    <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
  </tr>
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    <th>CR</th>
    <th>EAC</th>
    <th>ETC</th>
    <th>VAC</th>
    <th>Delay</th>
    <th>TCPI</th>
  </tr>
  <tr>
    <td rowspan="2"><%= @baseline.today_date%></td>
    <td><%= @baseline.project_budget_at_completion_hours %></td>
    <td rowspan="2"><%= @baseline.completed_ev %>%</td>
    <td><%= @baseline.today_pv_hours %> </td>
    <td><%= @baseline.today_ev_hours %></td>
    <td><%= @baseline.today_ac_hours %></td>
    <td><%= @baseline.schedule_variance_hours %></td>
    <td><%= @baseline.cost_variance_hours %></td>
    <td rowspan="2"><%= @baseline.schedule_performance_index %> </td>
    <td rowspan="2"><%= @baseline.cost_performance_index %></td>
    <td rowspan="2"><%= @baseline.critical_ratio %></td>
    <td><%= @baseline.estimate_at_completion_hours %> </td>
    <td><%= @baseline.estimate_to_complete_hours %> </td>
    <td><%= @baseline.variance_at_completion_hours %></td>
    <td rowspan="2"><%= @baseline.difference_bac_eac_days %> Days</td>
    <td rowspan="2"><%= @baseline.to_Complete_performance_index %></td>
  </tr>
  <tr>
    <td><%= @baseline.project_budget_at_completion_days %></td>
    <td><%= @baseline.today_pv_days %> </td>
    <td><%= @baseline.today_ev_days %></td>
    <td><%= @baseline.today_ac_days %></td>
    <td><%= @baseline.schedule_variance_days %></td>
    <td><%= @baseline.cost_variance_days %></td>
    <td><%= @baseline.estimate_at_completion_days %> </td>
    <td><%= @baseline.estimate_to_complete_days %> </td>
    <td><%= @baseline.variance_at_completion_days %></td>
  </tr>
</table>
<%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>