<% html_title('EVM Indicators') %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'evm', :plugin => 'redmine_evm' %>
  <%= stylesheet_link_tag 'simptip', :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'drawchart',            :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'jquery-1.9.1.min.js',  :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'highcharts.js',        :plugin => 'redmine_evm' %>
  <%= javascript_include_tag '../../../javascripts/select_list_move', :plugin => 'redmine_evm' %>
 <% end %>

<!--Title-->
<h2><%=l(:title_evm_tab)%></h2>
<!-- Choose baseline and option -->
<%= form_tag baseline_path, method: :get, id: 'query_form' do %>
  <div id="baseline-sselect-area">
    <!-- Dropdown for baselines -->
    <p>
    <%= l(:label_select_baseline) %>
    <%= collection_select :baseline, :id, @baselines, :id, :name %>
    </p>
    <!-- Option -->
    <fieldset id="filters" class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
      <div style="display: none;">
        <!-- Forecast -->
        <% unless @project.actual_cost(@baseline) == 0 %>
        <%= check_box_tag 'forecast' , 'true', @forecast_is_enabled  %>
        <%= label_tag l(:label_forecast) %>
        <% end %>
        <!-- Display Version Graph -->
        <%= check_box_tag 'display_version' , 'true', @display_version_is_enabled %>
        <%= label_tag l(:label_display_version) %>
        <!-- Apply button -->
        <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
      </div>
    </fieldset>
    </br>
  </div>
<% end %>

<!--Indicator value-->
<h3><%= l(:subtitle_evm_summary)%></h3>
<% if @project.earned_value(@baseline) != 0 %>
  <table id="evm-indicator-value-table">
    <tr>
      <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
      <th colspan="5"><%=l(:indicator_table_header_today)%></th>
      <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
      <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
      <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
    </tr>
    <tr>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_bac)%>>BAC</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_complete)%>>Complete EV</span></a></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_pv)%>>PV</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_ev)%>>EV</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_ac)%>>AC</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_sv)%>>SV</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_cv)%>>CV</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_spi)%>>SPI</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_cpi)%>>CPI</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_cr)%>>CR</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_eac)%>>EAC</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_etc)%>>ETC</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_vac)%>>VAC</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_difference_end_date)%>>Delay</span></th>
      <th><span class="simptip-position-right" data-tooltip=<%=l(:explanation_tcpi)%>>TCPI</span></th>
    </tr>
    <tr>
      <td rowspan="2"><%= @baseline.today_date%></td>
      <td><%= @baseline.project_budget_at_completion_hours %></td>
      <td rowspan="2"><%= @baseline.completed_ev %>%</td>
      <td><%= @baseline.today_pv_hours %> </td>
      <td><%= @baseline.today_ev_hours %></td>
      <td><%= @baseline.today_ac_hours %></td>
      <td><%= @baseline.schedule_variance_hours %></td>
      <td><%= @baseline.cost_variance_hours %></td>
      <td rowspan="2"><%= @baseline.schedule_performance_index %> </td>
      <td rowspan="2"><%= @baseline.cost_performance_index %></td>
      <td rowspan="2"><%= @baseline.critical_ratio %></td>
      <td><%= @baseline.estimate_at_completion_hours %> </td>
      <td><%= @baseline.estimate_to_complete_hours %> </td>
      <td><%= @baseline.variance_at_completion_hours %></td>
      <td rowspan="2"><%= @baseline.difference_bac_eac_days %> Days</td>
      <td rowspan="2"><%= @baseline.to_Complete_performance_index %></td>
    </tr>
    <tr>
      <td><%= @baseline.project_budget_at_completion_days %></td>
      <td><%= @baseline.today_pv_days %> </td>
      <td><%= @baseline.today_ev_days %></td>
      <td><%= @baseline.today_ac_days %></td>
      <td><%= @baseline.schedule_variance_days %></td>
      <td><%= @baseline.cost_variance_days %></td>
      <td><%= @baseline.estimate_at_completion_days %> </td>
      <td><%= @baseline.estimate_to_complete_days %> </td>
      <td><%= @baseline.variance_at_completion_days %></td>
    </tr>
  </table>
  <%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>
<% end %>
</br>
</br>

<!--Charts-->
<h3><%= l(:subtitle_evm_graph)%></h3>
<div id="evm-charts-wrapper">
  <!-- Main Chart -->
  <div id="evm-main-chart">
    <h3 class="version"><%= @project.name %></h3>
    <div id='evm-graph-lines'></div>
    <%= render :partial => '/baselines/chart_js', :locals => { maximum_chart_date: @project.maximum_chart_date(@baseline), project_chart_data: @project.data_for_chart(@baseline, @forecast_is_enabled) } %>
  </div>
  </br>
  <!-- Versions Charts -->
  <% if @display_version_is_enabled %>
    <div id="evm-versions-charts">
      <% @project.versions.each do |version| %>
        <% unless version.is_excluded(@baseline) %>
          <h3 class="version"> <%= version.name %></h3>
          <div id='evm-graph-lines-version-<%= version.id %>' style="height:300px;"></div>
          <%= render :partial => '/baselines/version_chart_js', :locals => { maximum_chart_date: version.maximum_chart_date(@baseline), version_chart_data: version.data_for_chart(@baseline), version: version } %> 
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var dropdownMenu = $('#baseline_id');               //Dropdown element from html.
  dropdownMenu.change(function() {                    //When selected.
    window.location = '/redmine/baselines/' + $(this).val();  //Redirect to selected baseline.
  });
</script>
