<% html_title('EVM Indicators') %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'evm',                     :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'drawchart',            :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'jquery.1.9.1.min.js',  :plugin => 'redmine_evm' %>
  <%= javascript_include_tag 'highcharts.js',        :plugin => 'redmine_evm' %>
  <%= javascript_include_tag '../../../javascripts/select_list_move', :plugin => 'redmine_evm' %>
<% end %>

<!--Title-->
<h2 id="evm-title"><%=l(:title_evm_tab)%></h2>
<p id="evm-subtitle"><%=l(:subtitle_evm_tab)%></p>

<!-- Baseline & Option -->  
<%= form_tag baseline_path, method: :get, id: 'query_form' do %>
  <!-- Dropdown for baselines -->  
  <fieldset id="filters" class="collapsible ">
    <legend onclick="toggleFieldset(this);"><%= l(:label_baseline_plural) %></legend>
    <div>
      <%= collection_select :baseline, :id, @baselines, :id, :name %>
    </div>
  </fieldset>
  <!-- Option -->  
  <fieldset id="filters" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table id="evm-option-table">
        <tr>
          <th>
            <%= l(:label_graph) %>
          </th>
          <th>
            <%= l(:label_calculate) %>
          </th>
          <th>
            <%= l(:label_Display) %>
          </th>
        </tr>
        <tr>
          <td>
            <!-- Display forecast line -->
            <% unless @project.actual_cost(@baseline) == 0 %>
              <%= check_box_tag 'forecast', 'true', @forecast_is_enabled  %>
              <%= label_tag l(:label_forecast) %>
            <% end %>
          </td>
          <td>
            <!-- select calcurate EAC -->
            <%= radio_button_tag :calceac, 'method1', @calc_eac_method == 'method1' %>
            <%= label_tag l(:label_calc_method1) %>
          </td>
          <td>
            <!-- Display EVM value explanation -->
            <%= check_box_tag 'display_explanation' , 'true', @display_explanation_is_enabled %>
            <%= label_tag l(:label_display_explanation) %>
          </td>
        </tr>
        <tr>
          <td>
            <!-- Display Version Graph -->
            <%= check_box_tag 'display_version' , 'true', @display_version_is_enabled %>
            <%= label_tag l(:label_display_version) %>
          </td>
          <td>
            <!-- select calcurate EAC -->
            <%= radio_button_tag :calceac, 'method2', @calc_eac_method == 'method2' %>
            <%= label_tag l(:label_calc_method2) %>
          </td>
        </tr>
        <tr>
          <td>
            <!-- Display performance Graph -->
            <%= check_box_tag 'display_performance' , 'true', @display_performance_is_enabled %>
            <%= label_tag l(:label_display_performance) %>
          </td>
          <td>
            <!-- select calcurate EAC -->
            <%= radio_button_tag :calceac, 'method3', @calc_eac_method == 'method3' %>
            <%= label_tag l(:label_calc_method3) %>
          </td>
        </tr>
      </table>
    </div>
  </fieldset>
  <p>
    <!-- Apply button -->
    <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  </p>
<% end %>
<!--Indicator value-->
<h3><%= l(:subtitle_evm_summary)%></h3>
<div id="evm-suummary-wrapper">
<% if @project.earned_value(@baseline) != 0 %>
  <%= render :partial => '/baselines/evm_measure' %>
<% end %>
</div>

<!--Charts-->
<div id="evm-charts-wrapper">

  <!-- Main Chart -->
  <h3 class="version"> <%= l(:subtitle_evm_graph_main) %></h3>
  <div id='evm-graph-lines' class='evm-chart'></div>
  <%= render :partial => '/baselines/chart_js', :locals => { project_chart_data: @project.data_for_chart(@baseline, @forecast_is_enabled, @display_performance_is_enabled,@calc_eac_method) , project_name: @project.name + '-' + @baseline.name } %>
  
  <!-- performnce Charts -->
  <% if @display_performance_is_enabled %>
    <h3 class="version"> <%= l(:subtitle_evm_graph_performance) %></h3>
    <div id='evm-graph-lines-performance' class='evm-chart-performance'></div>
    <%= render :partial => '/baselines/performance_chart_js', :locals => { project_chart_data: @project.data_for_chart(@baseline, @forecast_is_enabled, @display_performance_is_enabled, @calc_eac_method), project_name: @project.name + '-' + @baseline.name  } %>
  <% end %>
  
  <!-- Versions Charts -->
  <% if @display_version_is_enabled %>
    <h3 class="version"> <%= l(:subtitle_evm_graph_version) %></h3>
    <% @project.versions.each do |version| %>
      <% unless version.is_excluded(@baseline) %>
        <div id='evm-graph-lines-version-<%= version.id %>' class='evm-chart-<%= version.id %>'></div>
        <%= render :partial => '/baselines/version_chart_js', :locals => { version_chart_data: version.data_for_chart(@baseline), project_name: @project.name, version: version } %> 
      <% end %>
    <% end %>
  <% end %>

</div>

<!--sidebar-->
<% if @display_explanation_is_enabled %>
  <% content_for :sidebar do %>
    <%= render :partial => '/baselines/evm_explanation' %> 
  <% end %>
<% end %>

<!-- change dropdown -->
<script>
  var dropdownMenu = $('#baseline_id');               //Dropdown element from html.
  dropdownMenu.change(function() {                    //When selected.
    window.location = '/redmine/baselines/' + $(this).val();  //Redirect to selected baseline.
  });
</script>
